/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  height: 100vh;
}

.full-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
}

/* login */
.app-login-container {
  width: 300px;
}

/* toolbar */
.mat-toolbar {
  background: #c03228;
  color: #fff;

  padding: 10px 0px;
}

mat-toolbar > span:first-child {
  width: 200px;
  text-align: center;
}

.fill-remaining-space {
  flex: 1 1 auto;
  text-align: center;
}

mat-toolbar mat-form-field {
  width: 70%;
}

mat-form-field {
  width: 100%;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* sidenav */
.app-container {
  position: absolute!important;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-container mat-sidenav {
  width: 200px;
}

.mat-sidenav {
  background-color: #efefef;
}

.mat-sidenav-content {
  background-color: #fff;
  padding: 40px 60px 20px 60px;
}

/* forms */
.button-row button,
.button-row a {
  margin-right: 8px;
}

/* idea detail */
.card-list .mat-card {
  margin-bottom: 10px;
}

